#formQuestion {
    margin-top: 25px;
    margin-bottom: 25px;
}

#fillForm {
    border: 5px double black;
    padding: 25px;
}

#fillForm p {
    text-align: right;
}

#fillForm select {
    width: 100%;
    max-width: 90%;
}

#fillForm #confirmForm p{
    text-align: center;
}

#fillForm input[type="text"] {
    width: 100%;
    max-width: 90%;
}

#fillForm #radioPick {
    margin-right: 10px;
}

#fillForm #submitForm {
    text-align: right;
}