/*whole width*/
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}

/*Navigation*/
.logo {
    max-width: 80px;
    max-height: 50px;
}

a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

.navbar-nav a {
    font-size: 16px;
    font-weight: 200px;
    color: #fff;
    letter-spacing: -0.5px;
    padding-right: 22px;
    padding-left: 22px;
}

.nav-item .active > a {
    color: #11d491;
}

.nav-item:hover {
    color: #11d491;
}

.nav-search-button:hover {
    color: #252525;
    border-color: #252525;
    background-color: #fff;
    border-color: #252525;
}

.nav-hover:hover {
    color: white;
}

/* ------------------ */
/*Carousel*/
.carousel-item {
    height: 100vh;
}

.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.carousel-item > img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

/*----------------------*/
/*Main*/
#us {
    background-color: #f6f6f6;
    padding: 0.3em;
}

.btn:hover {
    background: #fff;
    border: black solid 1px;
    color: #393939;
}


/*----------------------*/
/*Footer*/
.footer {
    color: grey;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

/*---------------------*/
