/*Startup style settings*/

article,
section,
footer {
    margin: 25px;
}

#header-Id,
footer {
    background: linear-gradient(135deg, lightgrey 21px, grey 22px, grey 24px, transparent 24px, transparent 67px, grey 67px, grey 69px, transparent 69px), linear-gradient(225deg, lightgrey 21px, grey 22px, grey 24px, transparent 24px, transparent 67px, grey 67px, grey 69px, transparent 69px)0 64px;
    background-color:lightgrey;
    background-size: 64px 128px;
}

/*Body style settings*/

body {
    background-image: url(img/backgroundPicture.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

/*Header style settings*/

#header-Id {
    overflow: hidden;
    height: auto;
    width: 100%;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid lightgrey;
}

header nav {
    padding-top: 15px;
}

header nav a {
    padding: 20px;
}

header .row a {
    color: white;
    font-size: 125%;
    margin-right: 20px;
    margin-bottom: 25px;
    border: 3px solid grey;
    background-color: #e6b800;
    border-radius: 50px 20px;
}

header .row h3 {
    color: white;
    margin-top: 15px;
    padding: 5px;
    text-decoration: underline;
    border: 5px inset #ff8533;
    border-radius: 50px 25px;
    background: radial-gradient(#648880, #293f50);
}

header .row nav a:hover {
    background-color: darkgoldenrod;
    color: white;
}

/*Main, Article, Section style settings*/

main {
    padding-bottom: 25px;
    padding-top: 25px;
}

.container li a {
    color: white;
    font-size: 110%;
    border: 2px solid lightgrey;
    background-color: #FA4E4E;
    border-radius: 50px 20px;
    padding: 10px;
}

.container li {
    margin-bottom: 25px;
    margin-right: 25px;
}

.container li a:hover {
    background-color: #8A0808;
    text-decoration: none;
}

#faq-text-field {
    padding: 25px;
    min-height: 500px;
    border: 2px solid lightgrey;
    background-color: indianred;
}

#faq-text-field p {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 10px;
}

#link-to-top {
    color: white;
}

/*Footer style settings*/

footer {
    overflow: hidden;
    height: auto;
    width: 100%;
    margin: 0;
    position: relative;
    vertical-align: middle;
    text-align: center;
    border-top: 2px solid lightgrey;
}

footer h3 {
    text-decoration: underline;
    text-decoration-style: double;
    margin: 15px;
    padding: 10px;
    color: black;
}


/*Table style settings*/

table,
th,
td {
    border: 5px solid black;
    border-style: double;
    border-collapse: collapse;
    padding: 5px;
}

table {
    margin-bottom: 20px;
}

thead {
    background-color: lightslategrey;
    color: white;
    text-decoration: underline;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

tbody tr:nth-child(even) {
    background-color: whitesmoke;
}

tbody th {
    text-align: center;
}

table td {
    width: 100%;
}
